:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-font: "Playfair Display", serif;
  --primary-color: #2f303a;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --bg-color: #f5f5f5;
  --footer-bg: #2f303a;
  --white: #ffffff;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
}
.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}
/* Header */
.header {
  padding: 20px 50px;
  background-color: var(--white);
  font-family: var(--primary-font);
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-nav-link.active {
  color: var(--accent-color);
  text-decoration: none;
}
.header-contacts-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.header-contacts-link.active {
  text-decoration: none;
  color: var(--primary-color);
}
/* Hero */
.hero {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 80px 20px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 136%;
}
.hero-button {
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
}
/* benefits */
.benefits-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-text {
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* work */
.work-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}
/* team */
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.teammate-role {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* Portfolio */
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.portfolio-filter-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: var(--primary-font);
}
.portfolio-item {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  font-family: var(--primary-font);
  background-color: var(--footer-bg);
  color: var(--white);
  text-align: center;
  padding: 40px;
}
.footer-address {
  font-family: var(--primary-font);
}
.address-item-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: var(--primary-font);
}
